body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    background-image: url('https://raw.githubusercontent.com/Obaiderrom/sololearn/main/dave-hoefler-frmovOarYdE-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: scroll; /* Mantém a imagem de fundo fixa */
    color: #333;
    line-height: 1.6;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.05);
}

.document-count {
    font-size: 1em;
    margin-bottom: 20px;
    color: #555;
}

.search-container {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.2s;
}

.search-container input[type="text"]:focus {
    border-color: #004080;
}

.search-container button {
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #002b5c;
}

.button-group {
    display: flex;
    gap: 10px;
}

.document-list {
    height: 450px; /* Altura fixa para a área de exibição dos documentos */
    overflow-y: auto; /* Adicionando barra de rolagem vertical */
    margin-top: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.document-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.document-item:hover {
    background-color: #f1f1f1;
}

.document-item h2 {
    font-size: 1.5em;
    margin: 0;
}

.document-item p {
    font-size: 1em;
    color: #777;
    margin: 5px 0;
}

.file-link {
    color: blue;
    text-decoration: underline;
    font-size: 1em;
    display: inline-block;
    margin-top: 5px;
}

.file-link.align-right {
    margin-left: auto; /* Move o link para a extrema direita */
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 0 5px;
    cursor: pointer;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination button.active {
    background-color: #002b5c; /* Cor de fundo diferente para o botão ativo */
}

.pagination button:hover {
    background-color: #002b5c;
    color: white; /* Garantir que o texto seja branco ao passar o mouse */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bloco-branco {
    background-color: rgba(255, 255, 255, 255); /* Adicionando transparência ao branco */
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
}

.bloco-branco .document-count {
    margin-top: 10px;  /* Adiciona espaço acima do texto */
    font-size: 1em;
    color: #555;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para os botões dentro do modal */
.modal-button-group {
    display: flex;
    flex-direction: column; /* Organiza os botões em coluna */
    gap: 10px; /* Adiciona espaçamento entre os botões */
}

.modal-button-group button {
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    background-color: #004080; /* Cor azul */
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.modal-button-group button:hover {
    background-color: #002b5c; /* Cor azul mais escura ao passar o mouse */
}

/* Estilo para o botão de limpar filtros dentro do modal */
.modal-button-group button.clear-btn {
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    background-color: #555; /* Alterado para cinza */
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 5px; /* Adiciona espaço acima do botão */
}

.modal-button-groupbutton.clear-btn:hover {
    background-color: #333; /* Alterado para um tom mais escuro de cinza ao passar o mouse */
}

/* Adicionando estilo para os detalhes do documento (departamento e link) */
.doc-details{
    display: flex; /* Garante que os elementos fiquem na mesma linha */
    align-items: center; /* Alinha os elementos verticalmente */
}

.doc-details p {
    margin-right: 10px; /* Adiciona um espaço entre o parágrafo e o link */
}

.file-link {
    color: blue;
    text-decoration: underline;
    font-size: 1em;
    margin-top: 5px;
}

.file-link.align-right {
    margin-left: auto; /* Move o link para a extrema direita */
}
